<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with user</title>
    <link rel="stylesheet" href="/stylesheets/chat.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <link rel="stylesheet" href="/stylesheets/chatResponsive.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
</head>
<div class="backIconChat">
  <a href="/myprofile"><i class='bx bx-arrow-back'></i></a>  
</div>
<body>  
    <audio id="notificationAudio" src="/audios/notifi.mp3"></audio>
    <div class="wrap">
        <div class="left">
            <div class="users">
                <div class="topLook">
                    <div class="imgChat">
                        <img src="/images/profilePictures/<%= actualUser.profilepic %>" alt="Could'nt load !" >
                    </div>
                    <span><%= actualUser.ProfileName %></span>
                </div>
                <div class="otherFeatures">
                    <div class="logout"><a href="/logout">Log Out</a></div>
                    <div class="backProfile"><a href="/myprofile">My Profile</a></div>
                    <div class="backMain"><a href="/main">Home</a></div>
                </div>
            </div>
        </div>
        <div class="middle">
            <div class="wholeChat">
                
            <div class="checkStatus">
                <div class="topMiddleChat">

                    <div class="ChatImg">
                        <img src="/images/profilePictures/<%= searchedUser.profilepic %>" alt="Not found!">
                    </div>
                    <div style="display: flex; flex-direction: column;">
                    <div class="username"><span><%= searchedUser.ProfileName %></span></div>
                </div>
                </div>
                <% if (searchedUser.isOnline == 1){ %>
                    <div class="userStatus Online" id="<%= searchedUser._id %> status"><span>Online</span></div>
                <%} else{ %>
                    <div class="userStatus Offline" id="<%= searchedUser._id %> status"><span>Offline</span></div>
             <% } %>
            </div>
                <div class="allMessages">
                    <div class="wrapMessages">

                    </div>
                </div>
                <div class="sendMessage">
                    <form action="#" method="" id="formMsg">
                       <input class="input" type="text" name="sendMsg" id="sendMsg" placeholder=" Message" autocomplete="off">
                       <button style="
                        background: #ff3000;
                        border: none;
                        border-radius: 23%;" type="submit">
                        <i class='bx bxs-send' ></i>
                      </button>
                    </form> 
                </div>
            </div>
        </div>
    </div>
    <script>
        const senderId = "<%= actualUser._id %>"; 
        const receiverId = "<%= searchedUser._id %>";
        const senderSocket = "<%= actualUser.socketId %>";
        const receiverSocket = "<%= searchedUser.socketId %>";
    </script>
</body>
<script src="/javascripts/trial.js"></script>
<script src="/javascripts/socket.js"></script>
</html>