<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="/stylesheets/myprofile.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="profileUpload">
        <div style="display: flex; justify-content: center;"><h4><a style="text-decoration: none; color: black;font-weight: 500;color: #dbc9c9;
" href="/uploadProfile">Profile Upload</a></h4></div>
        <div style="display: flex; justify-content: center;"><h4><a style="text-decoration: none; color: black;font-weight: 500;color:#bd4343;" href="/deleteProfile">Delete Profile</a></h4></div>
    </div>
    <div class="moreAboutContent">
        <div class="moreaboutContainer">
            <div>Hobby:<span><%= hobby %></span></div>
            <div>Contact Number:<span> <%= phNumber %></span></div>
            <div>Favourite Song:<span><%= favSong %> </span></div>
            <div>Gender:<span><%= gender %></span></div>
            <div>Religion:<span><%= religion %></span></div>
        </div>
    </div>
    <div class="wrap">
        <div class="nav">
            <div class="left">
                <div class="wholeView">
                    <div class="profileIcon"><img style="height: 100%;width: 100%;object-fit: cover;" src="/images/profilePictures/<%= profilePic %>" alt="user image"></div>
                    <div class="username"><span><%= name %> </span></div>
                    <div class="followText"><span>Follow</span></div>
                </div>
            </div>
            <div class="editIcon">
                <a href="/editprofile" style="text-decoration: none; color: black;font-weight: 600;">
                <div class="mainIcon">
                    <svg class="svg-edit" fill="#000000" height="200px" width="200px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32.055 32.055" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M3.968,12.061C1.775,12.061,0,13.835,0,16.027c0,2.192,1.773,3.967,3.968,3.967c2.189,0,3.966-1.772,3.966-3.967 C7.934,13.835,6.157,12.061,3.968,12.061z M16.233,12.061c-2.188,0-3.968,1.773-3.968,3.965c0,2.192,1.778,3.967,3.968,3.967 s3.97-1.772,3.97-3.967C20.201,13.835,18.423,12.061,16.233,12.061z M28.09,12.061c-2.192,0-3.969,1.774-3.969,3.967 c0,2.19,1.774,3.965,3.969,3.965c2.188,0,3.965-1.772,3.965-3.965S30.278,12.061,28.09,12.061z"></path> </g> </g></svg>
                    <span style="font-size: 25px;margin-bottom:-16px;">Edit Profile</span>
                </div>
            </a>
            </div>
        </div>
        <div class="bellowNav">
            <div class="userInfo">
                <h3><span>Age</span>: <div class="designUserinfo"><%= age %></div> </h3>
                <h3><span> City</span>:<div class="designUserinfo">Kathmandu</div></h3>
                <h3> <span> Relationship</span>:<div class="designUserinfo"><%= relationship %></div></h3>
                <h3> <span> Looking for</span>:<div class="designUserinfo"><%= lookingFor %></div></h3>
                <h3><span> Education</span>:<div class="designUserinfo"><%= education %></div></h3>
            </div>
        </div>
        <div class="moreAbout"><span class="mouseAbout" style="padding: 9px;cursor: pointer; border-radius: 7px;"> More about</span></div>
        <div class="break"></div>
        <div class="multiFeature">
            <div class="MF-wrap">
                <div class="followers"><span>Followers:677</span></div>
                <div class="views"><span>Views:1.5k</span></div>
                <div class="chat"><span>Chat</span></div>
            </div>
        </div>
        <div class="wrapBio">
            <div class="bio">
                <div class="txtBio"> <h3>Bio:</h3></div>
                <div class="contentBio">
                    <span>"<%= BioContent %>"</span>
                </div>
            </div>
        </div>
        <div class="wrapQuote">
            <div class="quote">
                <div class="txtQuote"> <h3>Quote:</h3></div>
                <div class="contentQuote">
                    <span>"<%= QuoteContent %>"</span>
                </div>
            </div>
        </div>
        <div class="break"></div>
        <div class="formMind">
            <form action="">
                <input class="form_mind_input" type="text" name="mindPost" placeholder="What's on your Mind ?">
                <input type="submit" class="create" value="Create Post">
            </form>
        </div>

    </div>
</body>
<script src="/javascripts/trial.js"></script>
</html>