<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="/stylesheets/myprofile.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
</head>
<body>
<input type="hidden" name="userIdSearched" id="userIdSearched" value="<%= users._id %>">
    <div class="moreAboutContent">
        <div class="moreaboutContainer">
            <div>Hobby:<span><%= hobby %></span></div>
            <div>Contact Number:<span> <%= phNumber %></span></div>
            <div>Favourite Song:<span><%= favSong %> </span></div>
            <div>Gender:<span><%= gender %></span></div>
            <div>Religion:<span><%= religion %></span></div>
        </div>
    </div>
    <div class="wrap">
        <div class="nav">
            <div class="left">
                <div class="wholeView">
                    <div class="profileIcon"><img style="height: 100%;object-fit: cover;width: 100%;" src="/images/profilePictures/<%= profilePic %>" alt="user image"></div>
                    <div class="username"><span><%= name %> </span></div>
                    <div class="followText"><span>Follow</span></div>
                </div>
            </div>
        </div>
        <div class="bellowNav">
            <div class="userInfo">
                <h3><span>Age</span>: <div class="designUserinfo"><%= age %></div> </h3>
                <h3><span> City</span>:<div class="designUserinfo">Kathmandu</div></h3>
                <h3> <span> Relationship</span>:<div class="designUserinfo"><%= relationship %></div></h3>
                <h3> <span> Looking for</span>:<div class="designUserinfo"><%= lookingFor %></div></h3>
                <h3><span> Education</span>:<div class="designUserinfo"><%= education %></div></h3>
            </div>
        </div>
        <div class="moreAbout"><span class="mouseAbout" style="padding: 9px; border-radius: 7px;"> More about</span></div>
        <div class="break"></div>
        <div class="multiFeature">
            <div class="MF-wrap">
                <div class="followers"><span>Followers:677</span></div>
                <div class="views"><span>Views:1.5k</span></div>
                <div class="chat"><span><a href="/chat/<%= users._id %>">Chat</a></span></div>
            </div>
        </div>
        <div class="wrapBio">
            <div class="bio">
                <div class="txtBio"> <h3>Bio:</h3></div>
                <div class="contentBio">
                    <span>"<%= BioContent %>"</span>
                </div>
            </div>
        </div>
        <div class="wrapQuote">
            <div class="quote">
                <div class="txtQuote"> <h3>Quote:</h3></div>
                <div class="contentQuote">
                    <span>"<%= QuoteContent %>"</span>
                </div>
            </div>
        </div>
        <div class="wrapPost">
            <% users.posts.reverse().forEach(function(post){ %>
               
         <div class="post" style="margin-top: 70px;margin-left: 52px; background-color: rgba(11, 10, 10, 0.875);width: 994px;height: fit-content;margin-bottom: 20px;border-radius: 9px;">
     
             <div class="elementsPost" style="padding: 15px">
                 <div class="top" style="display: flex; flex-direction: row;justify-content: space-between;">
             <div class="username"  style="color: rgb(16 100 255);font-size: 16px; display: inline;margin-left: 25px;cursor: pointer;"><%= users.ProfileName %></div>
             <div class="time" style="color: white;font-size: 16px; display: inline;margin-right: 15px;" ><%= post.Time %></div>    
            </div>
            <div class="content" style="color: white;font-size: 25px; margin-left: 16px;margin-top: 7.7px;"><%= post.Text %> </div>
            <% if(post.likes.indexOf(actualUser._id) === -1){ %>
                <div class="likes" style="color: white;margin-left: 24.1px;margin-top: 20px;"><span class="likeSpan" style=" color: rgb(16 100 255);"><div class="likesCountFinalTwo" style="display: inline;"> <a style="text-decoration: none;" href="/like/<%= post._id %>"> Like</a></div></span><span>    <span></span>  </span><%= post.likes.length %></div>
             <% }else{ %>
                <div class="likes" style="color: white;margin-left: 24.1px;margin-top: 20px;"><span class="likeSpan" style=" color: rgb(16 100 255);"><div class="likesCountFinalTwo" style="display: inline;"> <a style="text-decoration: none;" href="/like/<%= post._id %>"> Unlike</a></div></span><span>    <span></span>  </span><%= post.likes.length %></div>
              <% } %>
             </div>
         </div> 
             <% }) %>
     </div>
    </div>
    <script>
        const userIdSearched = "<%= actualUser._id %>";
    </script>
</body>
<script src="/javascripts/socket.js"></script>
</html>