<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="/stylesheets/myprofile.css">
    <link rel="stylesheet" href="/stylesheets/myprofileResponsive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
</head>
<body>
<input type="hidden" name="userIdSearched" id="userIdSearched" value="<%= users._id %>">
    <div class="moreAboutContent">
        <div class="moreaboutContainer">
            <div>Hobby:<span><%= hobby %></span></div>
            <div>Contact Number:<span> <%= phNumber %></span></div>
            <div>Favourite Song:<span><%= favSong %> </span></div>
            <div>Gender:<span><%= gender %></span></div>
            <div>Religion:<span><%= religion %></span></div>
        </div>
    </div>
    <div class="wrap">
        <div class="nav">
            <div class="left">
                <div class="wholeView">
                    <div class="profileIcon"><img style="height: 100%;object-fit: cover;width: 100%;" src="/images/profilePictures/<%= profilePic %>" alt="user image"></div>
                    <div class="username"><span><%= name %> </span></div>
                    <div class="followText"><span>Follow</span></div>
                </div>
            </div>
            <div class="div-icon-back-UP">
                <a href="/main">
                <svg class="icon-back" fill="#413e3e" height="200px" width="200px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 219.151 219.151" xml:space="preserve" stroke="#413e3e"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M109.576,219.151c60.419,0,109.573-49.156,109.573-109.576C219.149,49.156,169.995,0,109.576,0S0.002,49.156,0.002,109.575 C0.002,169.995,49.157,219.151,109.576,219.151z M109.576,15c52.148,0,94.573,42.426,94.574,94.575 c0,52.149-42.425,94.575-94.574,94.576c-52.148-0.001-94.573-42.427-94.573-94.577C15.003,57.427,57.428,15,109.576,15z"></path> <path d="M94.861,156.507c2.929,2.928,7.678,2.927,10.606,0c2.93-2.93,2.93-7.678-0.001-10.608l-28.82-28.819l83.457-0.008 c4.142-0.001,7.499-3.358,7.499-7.502c-0.001-4.142-3.358-7.498-7.5-7.498l-83.46,0.008l28.827-28.825 c2.929-2.929,2.929-7.679,0-10.607c-1.465-1.464-3.384-2.197-5.304-2.197c-1.919,0-3.838,0.733-5.303,2.196l-41.629,41.628 c-1.407,1.406-2.197,3.313-2.197,5.303c0.001,1.99,0.791,3.896,2.198,5.305L94.861,156.507z"></path> </g> </g></svg>
               </a>
            </div>
        </div>
        <div class="bellowNav">
            <div class="userInfo">
                <h3><span>Age</span>: <div class="designUserinfo"><%= age %></div> </h3>
                <h3><span> City</span>:<div class="designUserinfo">Kathmandu</div></h3>
                <h3> <span> Relationship</span>:<div class="designUserinfo"><%= relationship %></div></h3>
                <h3> <span> Looking for</span>:<div class="designUserinfo"><%= lookingFor %></div></h3>
                <h3><span> Education</span>:<div class="designUserinfo"><%= education %></div></h3>
            </div>
        </div>
        <div class="moreAbout"><span class="mouseAbout" style="padding: 9px; border-radius: 7px;"> More about</span></div>
        <div class="break"></div>
        <div class="multiFeature">
            <div class="MF-wrap">
                <div class="followers"><span>Followers:677</span></div>
                <div class="views"><span>Views:1.5k</span></div>
                <div id="clickChatWhen" class="chat"><span><a style="text-decoration: none; color: inherit;" href="/chat/<%= users._id %>">Chat</a></span></div>
            </div>
        </div>
        <div class="wrapBio">
            <div class="bio">
                <div class="txtBio"> <h3>Bio:</h3></div>
                <div class="contentBio">
                    <span>"<%= BioContent %>"</span>
                </div>
            </div>
        </div>
        <div class="wrapQuote">
            <div class="quote">
                <div class="txtQuote"> <h3>Quote:</h3></div>
                <div class="contentQuote">
                    <span>"<%= QuoteContent %>"</span>
                </div>
            </div>
        </div>
        <div class="wrapPost">
            <% users.posts.reverse().forEach(function(post){ %>
               
         <div class="post" style="margin-top: 70px;margin-left: 52px; background-color: rgba(11, 10, 10, 0.875);width: 994px;height: fit-content;margin-bottom: 20px;border-radius: 9px;">
     
             <div class="elementsPost" style="padding: 15px">
                 <div class="top" style="display: flex; flex-direction: row;justify-content: space-between;">
             <div class="username"  style="color: rgb(16 100 255);font-size: 16px; display: inline;margin-left: 25px;cursor: pointer;"><%= users.ProfileName %></div>
             <div class="time" style="color: white;font-size: 16px; display: inline;margin-right: 15px;" ><%= post.Time %></div>    
            </div>
            <div class="content" style="color: white;font-size: 25px; margin-left: 16px;margin-top: 7.7px;"><%= post.Text %> </div>
            <% if(post.likes.indexOf(actualUser._id) === -1){ %>
                <div class="likes" style="color: white;margin-left: 24.1px;margin-top: 20px;"><span class="likeSpan" style=" color: rgb(16 100 255);"><div class="likesCountFinalTwo" style="display: inline;"> <a style="text-decoration: none;" href="/like/<%= post._id %>"> Like</a></div></span><span>    <span></span>  </span><%= post.likes.length %></div>
             <% }else{ %>
                <div class="likes" style="color: white;margin-left: 24.1px;margin-top: 20px;"><span class="likeSpan" style=" color: rgb(16 100 255);"><div class="likesCountFinalTwo" style="display: inline;"> <a style="text-decoration: none;" href="/like/<%= post._id %>"> Unlike</a></div></span><span>    <span></span>  </span><%= post.likes.length %></div>
              <% } %>
             </div>
         </div> 
             <% }) %>
     </div>
    </div>
    <script>
        const senderId = "<%= actualUser._id %>";
        const receiverIdUseR = "<%= users._id %>";
    </script>
</body>
<script src="/javascripts/socket.js"></script>
<script src="/javascripts/trial.js"></script>

</html>