<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="/stylesheets/myprofile.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="profileUpload">
        <h4><a style="text-decoration: none; color: black;font-weight: 500;" href="/uploadProfile">Profile Upload</a></h4>
    </div>
    <div class="wrap">
        <div class="nav">
            <div class="left">
                <div class="wholeView">
                    <div class="profileIcon"><img style="height: 100%;object-fit: cover;width: 100%;" src="/images/profilePictures/<%= profilePic %>" alt="user image"></div>
                    <div class="username"><span><%= name %> </span></div>
                    <div class="followText"><span>Follow</span></div>
                </div>
            </div>
        </div>
        <div class="bellowNav">
            <div class="userInfo">
                <h3><span>Age</span>: <div class="designUserinfo"><%= age %></div> </h3>
                <h3><span> City</span>:<div class="designUserinfo">Kathmandu</div></h3>
                <h3> <span> Relationship</span>:<div class="designUserinfo"><%= relationship %></div></h3>
                <h3> <span> Looking for</span>:<div class="designUserinfo"><%= lookingFor %></div></h3>
                <h3><span> Education</span>:<div class="designUserinfo"><%= education %></div></h3>
            </div>
        </div>
        <div class="moreAbout"><span style="padding: 9px; border-radius: 7px;"> More about</span></div>
        <div class="break"></div>
        <div class="multiFeature">
            <div class="MF-wrap">
                <div class="followers"><span>Followers:677</span></div>
                <div class="views"><span>Views:1.5k</span></div>
                <div class="chat"><span>Chat</span></div>
            </div>
        </div>
        <div class="wrapBio">
            <div class="bio">
                <div class="txtBio"> <h3>Bio:</h3></div>
                <div class="contentBio">
                    <span>"<%= BioContent %>"</span>
                </div>
            </div>
        </div>
        <div class="wrapQuote">
            <div class="quote">
                <div class="txtQuote"> <h3>Quote:</h3></div>
                <div class="contentQuote">
                    <span>"<%= QuoteContent %>"</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>